/* ============================
Revolutions of the World Main Stylesheet
Designed by Matthew Mascioni and Matt Herron
============================= */

/* - Begin Containing Styles and Global Stuff - */

body, html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em; /* 16px / 16px */
	background-color: #303030;
}

#line {
	width: 100%; /* Assuming 100% = 960px because we need something to base percent calculations on */
	height: 0.5em; /* Picked quite arbitrarily */
	background-color: #11afa1;
}

#container {
	width: 100%;
	margin: auto;
	background-color: #303030;
}

#separate {
	width: 93.75%;
	margin-left: auto;
	margin-right: auto;
	height: 0.25em;
	background-color: #11afa1;
	margin-top: 1.0416667%; /* 10px / 960px */
}

a {
	text-decoration: none;
	color: #8fcce3;
	-webkit-transition: color 0.25s linear;
}

a:hover {
	color: #abd8ea;
	-webkit-transition: color 0.25s linear;
}

/* - End Containing Styles - */
/* - Begin Header (Nav/Logo) - */

header {
	width: 93.75%; /* 900px / 960px */
	margin: auto;
	margin-top: 2.0833333%; /* 20px / 960px */
	height: 3em;
}

header h1 {
	float: left;
	width: 44.4444444%; /* 400px / 900px */
	font-size: 2.25em; /* 36px / 16px */ 
	color: #eee;
}

header > nav {
	text-align: right;
	float: right;
	width: 55.5555556%; /* 500px / 900px */
	font-size: 1.125em; /* 18px / 16px */
	color: #eee;
}

header > nav > a {
	background-color: #0fa092;
	text-decoration: none;
	color: #eee;
	display: inline-block;
	min-width: 12%; /* 60px / 500px */
	padding: 1.4%; /* 5px / 50px */
	text-align: center;
	border-radius: 0.4em; /* 2px / 50px */
	margin-right: 2%;
	-webkit-transition: background-color 0.2s linear;
}	

header > nav > a:last-child {
	margin-right: 0;
}

header > nav > a:hover {
	background-color: #11afa1;
	-webkit-transition: background-color 0.2s linear;
	color: #eee;
}

/* - End Header (Nav/Logo) - */
/* - Begin Featured Photos (or that's what I choose to call it - */

section#featured {
	width: 93.75%; /* 900px / 960px */
	margin: auto;
	margin-top: 1.1111111%; /* 10px / 900px */
}

section#featured > figure.one {
	width: 48.8888889%; /* 440px / 900px */
	float: left;
}

section#featured > figure.one > img {
	max-width: 100%;
}

section#featured > figure.one > figcaption {
	width: 45.4545455%; /* 200px / 440px */
	padding: 1.25%; /* 2.5px / 200px */
	background-color: #000;
	color: #ddd;
	font-size: 1.5em; /* 24px / 16px */
	margin-top: -56.8181818%; /* 250px / 440px */
	position: relative;
	z-index: 1;
	opacity: 0.75;
}

section#featured > figure.one > h2 {
	width: 56.8181818%; /* 250px / 440px */
	padding: 1.25%; /* 2.5px / 200px */
	background-color: #000;
	color: #ddd;
	font-size: 1.125em; /* 18px / 16px */
	margin-top: 2.2727273%; /* 20px / 440px */
	position: relative;
	z-index: 2;
	opacity: 0.75;
}

section#featured > figure.two {
	width: 48.8888889%; /* 440px / 900px */ /* These numbers make me want to grab a coffee over and over again */
	float: right;
}

section#featured > figure.two > img {
	max-width: 100%;
}

section#featured > figure.two > figcaption {
	float: right;
	width: 45.4545455%; /* 200px / 440px */
	padding: 1.25%; /* 2.5px / 200px */
	background-color: #000;
	color: #ddd;
	font-size: 1.5em; /* 24px / 16px */
	margin-top: -34.0909091%; /* 150px / 440px */
	position: relative;
	z-index: 1;
	opacity: 0.75;
}

section#featured > figure.two > h2 {
	float: right;
	text-align: right;
	min-width: 22.7272727%; /* 250px / 440px */
	max-width: 68.1818182%; /* 300px / 440px */
	padding: 1.25%; /* 2.5px / 200px */
	background-color: #000;
	color: #ddd;
	font-size: 1.125em; /* 18px / 16px */
	margin-top: -18.1818182%; /* ~80px / 440px */
	position: relative;
	z-index: 2;
	opacity: 0.75;
}

/* - With a yawn, we end the the featured photos. - */
/* - Begin main content with... events - */

section#content {
	width: 93.75%; /* 900px / 960px */
	margin-top: 1.1111111%; /* 10px / 900px */
	margin-left: auto;
	margin-right: auto;
	color: #ddd;
}

#event {
	width: 93.75%; /* 900px / 960px */
	margin-top: 3.125%; /* 30px / 900px */
	display: block;
}

#event > #left {
	float: left;
	width: 22.2222222%; /* 200px / 900px */
	margin-bottom: 2em;
}

#event > #left h3 {
	font-size: 1.125em; /* 18px / 16px */
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.2em; /* Arbitrary */
}

#event > #left p {
	margin-top: 5%; /* 10px / 200px */
	word-spacing: 0.2em;
	color: #8fcce3;
}

#event > #right {
	float: right;
	width: 75%; /* 675px / 900px */
	margin-bottom: 2em;
}

#event > #right > h1 {
	font-size: 1.6875em; /* 27px / 16px */
	font-family: Georgia, serif;
}

#event > #right > h2 {
	margin-top: 0.7407407%; /* 5px / 675px */
	font-size: 1.25em; /* 20px / 16px */
}

#event > #right > article {
	margin-top: 4em;
	line-height: 140%;
}

#event > #right > article > h1 {
	font-size: 1.5em; /* 24px / 16px */
	font-family: Georgia, serif;
	margin-bottom: 0.25em;
}

/* -- Timeline */

#timeline {
	margin-top: 1.4814815%; /* 10px / 675px */
	margin-bottom: 1.4814815%; /* 10px / 675px */
	height: 5px;
	background-color: #ddd;
	display: block;
	position: relative;
	z-index: 1;
}

#timeline ul {
	display: inline-block;
	width: 7.5em;
	margin-right: 3em;
}

#timeline ul > ul.marker > li {
	display: inline-block;
	/*background-color: #f30;*/ /* For debugging */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-left: 0.5em;
	font-size: 1.125em;
}

#timeline ul > li.event {
	position: relative;
	z-index: 2;
	margin-top: 1.4814815%; /* 10px / 675px */
	width: 100%;
	text-align: center;
	background-color: #404040; 
	padding: 0.5em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: background-color 0.25s linear;
}

#timeline ul > li.event:hover {
	background-color: #505050;
	-webkit-transition: background-color 0.25s linear;
	cursor: pointer;
}

#timeline ul > li.event > a { /* Have a headache yet? */
	color: #eeeeee;
	display: block;
	-webkit-transition: color 0.2s linear;
}

#timeline > ul > li.event > a:hover {
	color: #8fcce3;
	-webkit-transition: color 0.2s linear;
}

#timeline > ul > li.event > a:active {
	color: #8fcce3;
}

.switcher-content {
	display: none;
}

/* Going even deeper, into sub left and right. */

.subline {
	margin-top: 1em;
	width: 100%;
	height: 0.1em;
	background-color: #ddd;
}

#subleft {
	margin-top: 1em;
	float: left;
}

#subright {
	margin-top: 1em;
	float: right;
}

/* - End Main Content - */
/* - Begin the footer, which is infinitely easier. - */

footer {
	width: 93.75%; /* 900px / 960px */
	margin: auto;
	margin-top: 0.2604167%; /* 2.5px / 960px */
	color: #ccc;
}

footer > #footer-left {
	float: left;
	padding: 1.1111111%; /* 10px / 900px */
}

footer > #footer-left > a {
	margin-right: 10px;
}

footer > #footer-right {
	float: right;
	padding: 1.1111111%; /* 10px / 900px */
}